.payment-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
}

h2 {
  color: var(--primary-title-color);
}

form {
  background-color: var(--primary-box-shadow-color-container);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

label {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.3rem 0;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}
