.product-details-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 1rem;
  font-family: var(--primary-font-family);
}

img {
  width: 100%;
  height: 100%;
}

.product-order-container {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  margin-top: 1rem;
}

h2 {
  font-family: var(--primary-font-family);
  margin-bottom: 0;
}

h4 {
  font-family: var(--primary-font-family);
  margin-bottom: 1rem;
}

.free-delivery {
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  display: block;
  width: 100%;
  padding: 0.4rem 0;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.add-to-cart {
  background-color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.add-to-cart:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}

.add-to-favourites {
  background-color: lightgray;
}

.add-to-favourites:hover {
  background-color: gray;
  border: 1px solid black;
}

.remove-from-favourites {
  background-color: rgb(235, 45, 45);
}

.remove-from-favourites:hover {
  background-color: rgb(214, 5, 5);
}

button i {
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .product-details-container {
    width: 100%;
    text-align: center;
  }

  img {
    width: 90%;
    height: 500px;
    max-height: 500px;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .product-details-container {
    width: 90%;
    text-align: center;
  }

  img {
    width: 80%;
    height: 600px;
    max-height: 600px;
    margin: auto;
    margin-bottom: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .product-details-container {
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }

  .button i {
    font-size: 1.1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-details-container {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  img {
    /* width: 90%; */
    height: 500px;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
  }

  .button i {
    font-size: 1.4rem;
  }
}
