.product-details-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 1rem;
  font-family: var(--primary-font-family);
}

img {
  width: 100%;
  height: 100%;
}

.product-order-container {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  margin-top: 1rem;
}

h1,
h2 {
  font-family: var(--primary-font-family);
}

.free-delivery {
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  display: block;
  width: 100%;
  padding: 0.4rem 0;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.add-to-cart {
  background-color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.add-to-cart:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}

.add-to-favourites {
  background-color: lightgray;
}

.add-to-favourites:hover {
  background-color: gray;
  border: 1px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-details-container {
    width: 90%;
    text-align: center;
  }

  img {
    width: 90%;
    height: 400px;
    max-height: 400px;
    margin: auto;
    margin-bottom: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .product-details-container {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
