<div class="product-details-container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <img src="{{ product?.images[0] }}" alt="{{ product?.name }}" />
      </div>
    </div>
    <div class="col-md-5">
      <h2 *ngIf="product">{{ product.name }}</h2>
      <div *ngIf="product">
        <p><strong>Memory:</strong> {{ product.memory }}</p>
        <p><strong>CPU:</strong> {{ product.cpu }}</p>
        <p><strong>Display:</strong> {{ product.display }}</p>
        <p><strong>Battery:</strong> {{ product.battery }}</p>
        <p><strong>Camera:</strong> {{ product.camera }}</p>
        <p><strong>Size:</strong> {{ product.size }}</p>
        <p><strong>Weight:</strong> {{ product.weight }} g</p>
        <p><strong>Description:</strong> {{ product.description }} g</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-order-container">
        <h4 *ngIf="product">Price: ${{ product.price }}</h4>
        <p class="free-delivery">
          <i class="fa fa-truck" aria-hidden="true"></i> free delivery
        </p>
        <div>
          <button class="button add-to-cart" (click)="addToCartHandler()">
            <i class="fa fa-cart-plus"></i>
            add to cart
          </button>
          <button class="button add-to-favourites">
            <i class="fa fa-heart" aria-hidden="true"></i>add to favourites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
