.product-carousel {
  height: 70vh;
}

::ng-deep .carousel-inner {
  height: 90%;
}

::ng-deep .carousel-item {
  height: 100%;
}

::ng-deep .product-img-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

::ng-deep .product-carousel-img {
  width: 100%;
  height: 100%;
}

h3 {
  background-color: #000;
  opacity: 0.7;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .product-img-wrapper {
    width: 77%;
  }

  h3 {
    width: 80%;
    font-size: 1.5rem;
  }
}
