.product-carousel {
  height: 70vh;
}

::ng-deep .carousel-inner {
  height: 90%;
}

::ng-deep .carousel-item {
  height: 100%;
}

::ng-deep .product-img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

::ng-deep .product-carousel-img {
  object-fit: cover;
  height: 100%;
}

h3 {
  background-color: #000;
  opacity: 0.7;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  max-width: 80%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .product-img-wrapper {
    width: 77%;
  }

  h3 {
    font-size: 1.5rem;
  }
}
