ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

li {
  flex: 0.3;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  display: block;
  background-color: var(--primary-color);
  color: #212529;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: 3px solid black;
}

a.disabled {
  pointer-events: none;
  background-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ul {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
