main {
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.featured-products {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  text-align: center;
}

.title {
  background-color: var(--primary-color);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  text-align: left;
  font-weight: bold;
  font-family: var(--primary-font-family);
}

.featured-products > div {
  display: flex;
  flex-wrap: wrap;
}

.featured-products > div > app-product-item {
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .featured-products > div > app-product-item {
    width: 50%;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .featured-products > div > app-product-item {
    width: 33.3%;
  }

  .title {
    font-size: 1.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
