.product-list-container {
  width: 70%;
  min-height: 426px;
  margin: 0 auto;
  margin-top: 8rem;
  font-family: var(--primary-font-family);
  position: relative;
}

thead {
  background-color: var(--primary-color);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.edit-btn {
  color: rgb(45, 45, 226);
  border: none;
}

.delete-btn {
  color: red;
  border: none;
}

.app-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-list-container {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .product-list-container {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
