.navbar-brand img {
  height: 50px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: var(--primary-font-family);
  color: #222 !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.link-active {
  color: var(--primary-color) !important;
}

.logout {
  cursor: pointer;
}

.cart-icon {
  color: var(--primary-color);
  font-size: 1.6rem;
}

.badge {
  font-size: 0.7rem;
  border-radius: 50%;
}

.my-dropdown-menu button {
  color: #222;
  font-size: 1.2rem;
}

.my-dropdown-menu button:hover {
  color: var(--primary-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--primary-color);
}

.my-dropdown-menu:hover .dropdown-content {
  display: block;
}

.navigation-mobile {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    display: none;
  }

  form button {
    width: 100%;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .dropdown-content a {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .my-dropdown-menu button {
    display: none;
  }

  .dropdown-content {
    display: block;
    width: 100%;
    text-align: center;
    box-shadow: none;
    position: relative;
  }

  .dropdown-content a {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-nav {
    align-items: center;
  }
}

@media only screen and (max-width: 992px) {
  .nav-link:hover {
    background-color: var(--primary-color) !important;
    color: #222 !important;
  }

  .link-active {
    background-color: var(--primary-color) !important;
    color: #222 !important;
  }

  .cart-icon {
    font-size: 2rem;
  }

  .searchButton {
    display: none;
  }
}
