<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand">
    <img src="/assets/app-logo.PNG" alt="logo" />
  </a>
  <form
    class="form-inline mx-auto"
    #searchForm="ngForm"
    (ngSubmit)="searchSubmitHandler(searchForm)"
  >
    <input
      class="form-control mr-sm-2"
      type="search"
      name="search"
      placeholder="Search..."
      aria-label="Search"
      ngModel
    />
    <button
      class="btn btn-outline-success my-2 my-sm-0 searchButton"
      type="submit"
    >
      Search
    </button>
  </form>
  <button class="navbar-toggler" (click)="showMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="mobileMode">
    <span class="spacer mr-auto"></span>
    <ul class="navbar-nav" [class.navigation-mobile]="mobileMode">
      <li class="nav-item">
        <!-- [routerLinkActiveOptions]="{ exact: true }" -->
        <a class="nav-link" routerLink="/home" routerLinkActive="link-active"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a
          class="nav-link"
          routerLink="/auth/register"
          routerLinkActive="link-active"
          >Register</a
        >
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a
          class="nav-link"
          routerLink="/auth/login"
          routerLinkActive="link-active"
          >Login</a
        >
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a
          class="nav-link"
          routerLink="/user/profile"
          routerLinkActive="link-active"
          >Profile</a
        >
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link logout" (click)="logoutHandler()">Logout</a>
      </li>
      <li
        class="nav-item my-dropdown-menu"
        *ngIf="authService.loggedIn() && authService.currentUser?.isAdmin"
      >
        <button class="btn">Admin</button>
        <div class="dropdown-content">
          <a routerLink="/admin/userlist">Users</a>
          <a routerLink="/admin/productlist">Products</a>
          <a routerLink="/admin/orderlist">Orders</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a routerLink="/cart">
          <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"
            ><span
              class="badge badge-danger"
              *ngIf="getCartItems().length > 0"
              >{{ getCartItems().length }}</span
            ></i
          >
        </a>
      </li>
    </ul>
  </div>
</nav>
