.cart-container {
  width: 70%;
  min-height: 457px;
  margin: 0 auto;
  margin-top: 6rem;
}

.title {
  color: var(--primary-title-color);
  margin-bottom: 1rem;
}

.cart-info-column {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  font-size: 1.2rem;
}

.cart-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  border-top: 1px solid gray;
}

.cart-img {
  width: 40px;
}

.cart-item-name {
  color: #212529;
}

.cart-item-name:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.cart-info-column button {
  background-color: transparent;
  color: red;
  font-size: 1.4rem;
  border: none;
}

.cart-card {
  background-color: rgb(252, 237, 237);
  padding: 0.5rem;
  box-shadow: 0px 1px 6px 2px #888888;
}

.cart-card button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.3rem 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  border: none;
}

.cart-card button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}

@media only screen and (max-width: 1199px) {
  .cart-container {
    width: 85%;
  }

  .cart-card {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .cart-info-item {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .cart-info-column {
    margin-bottom: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
