<div class="cart-container">
  <div class="row">
    <div class="col-md-8 cart-info-column">
      <h3 class="title">Shopping Cart</h3>
      <p class="message" *ngIf="cartService.cartItems.length === 0">
        Your cart is empty <a routerLink="/home">Go Back</a>
      </p>
      <div
        class="row cart-info-item"
        *ngFor="let item of cartService.cartItems"
      >
        <div class="col-sm-2 col-md-2 text-center">
          <img
            src="{{ item.images[0] }}"
            alt="{{ item.name }}"
            class="cart-img"
          />
        </div>
        <div class="col-sm-5 col-md-5">
          <a [routerLink]="['/product', item._id]" class="cart-item-name">{{
            item.name
          }}</a>
        </div>
        <div class="col-sm-4 col-md-4">
          {{ item.price | currency }}
        </div>
        <!-- <div class="col-md-2 col-sm-1">
          <select
            class="custom-select"
            #selectQuantity
            (change)="addToCartHandler(item, selectQuantity.value)"
          >
            <option
              *ngFor="
                let count of [].constructor(item.countInStock);
                let i = index
              "
              value="{{ i + 1 }}"
            >
              {{ i + 1 }}
            </option>
          </select>
        </div> -->
        <div class="col-sm-1 col-md-1">
          <button (click)="removeFromCartHandler(item._id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cart-card">
        <h5>
          Subtotal {{ cartService.cartItems?.length }}
          {{ cartService.cartItems?.length === 1 ? "item" : "items" }}:
          <span class="text-success">{{
            cartService.subtotal | currency
          }}</span>
        </h5>
        <button
          (click)="checkoutHandler()"
          [disabled]="cartService.cartItems.length === 0"
        >
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>
</div>
