.order-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
}

h3 {
  color: var(--primary-title-color);
  margin-bottom: 1rem;
}

.order-item-div,
.order-summary-div {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.order-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  border-top: 1px solid gray;
}

a {
  color: #222;
  font-size: 1.1rem;
}

a:hover {
  color: var(--primary-color-hover);
}

img {
  width: 60%;
}

.total-price {
  color: #df500e;
  font-size: 1.5rem;
}

.order-summary-div .summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-summary-div button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.3rem 0;
  margin-top: 1rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.order-summary-div button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .order-container {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
