.register-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 6rem;
}

h1 {
  text-align: center;
  font-family: var(--primary-font-family);
}

form {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem 2rem;
  font-family: var(--primary-font-family);
}

label {
  font-size: 1rem;
}

input {
  font-family: sans-serif;
}

button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  border: none;
}

button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}

p {
  margin-top: 1rem;
  color: #555;
}

.is-invalidd {
  border-left: 4px solid red;
}
