.user-list-container {
  width: 70%;
  height: 426px;
  margin: 0 auto;
  margin-top: 8rem;
  font-family: var(--primary-font-family);
}

thead {
  background-color: var(--primary-color);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.user-edit-btn {
  color: rgb(45, 45, 226);
  border: none;
}

.user-delete-btn {
  color: red;
  border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .user-list-container {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .user-list-container {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
