<div class="product-edit-container">
  <h3 class="text-center">Edit Product</h3>
  <form
    #editForm="ngForm"
    (ngSubmit)="editHandler(editForm.value)"
    *ngIf="product$ | async as product"
  >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        #name="ngModel"
        [class.invalid]="name.invalid && name.touched"
        placeholder="Enter name"
        [ngModel]="product.name"
        required
      />
    </div>

    <div class="form-group">
      <label for="images">Images</label>
      <input
        type="text"
        class="form-control"
        id="images"
        name="images"
        #images="ngModel"
        [class.invalid]="images.invalid && images.touched"
        placeholder="Enter images"
        [ngModel]="product.images"
        required
      />
    </div>

    <div class="form-group">
      <label for="brand">Brand</label>
      <input
        type="text"
        class="form-control"
        id="brand"
        name="brand"
        #brand="ngModel"
        [class.invalid]="brand.invalid && brand.touched"
        placeholder="Enter brand"
        [ngModel]="product.brand"
        required
      />
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        #price="ngModel"
        [class.invalid]="price.invalid && price.touched"
        placeholder="Enter price"
        [ngModel]="product.price"
        required
      />
    </div>

    <div class="form-group">
      <label for="cpu">CPU</label>
      <input
        type="text"
        class="form-control"
        id="cpu"
        name="cpu"
        #cpu="ngModel"
        [class.invalid]="cpu.invalid && cpu.touched"
        placeholder="Enter cpu"
        [ngModel]="product.cpu"
        required
      />
    </div>

    <div class="form-group">
      <label for="camera">Camera</label>
      <input
        type="text"
        class="form-control"
        id="camera"
        name="camera"
        #camera="ngModel"
        [class.invalid]="camera.invalid && camera.touched"
        placeholder="Enter camera"
        [ngModel]="product.camera"
        required
      />
    </div>

    <div class="form-group">
      <label for="size">Size</label>
      <input
        type="text"
        class="form-control"
        id="size"
        name="size"
        #size="ngModel"
        [class.invalid]="size.invalid && size.touched"
        placeholder="Enter size"
        [ngModel]="product.size"
        required
      />
    </div>

    <div class="form-group">
      <label for="weight">Weight</label>
      <input
        type="text"
        class="form-control"
        id="weight"
        name="weight"
        #weight="ngModel"
        [class.invalid]="weight.invalid && weight.touched"
        placeholder="Enter weight"
        [ngModel]="product.weight"
        required
      />
    </div>

    <div class="form-group">
      <label for="display">Display</label>
      <input
        type="text"
        class="form-control"
        id="display"
        name="display"
        #display="ngModel"
        [class.invalid]="display.invalid && display.touched"
        placeholder="Enter display"
        [ngModel]="product.display"
        required
      />
    </div>

    <div class="form-group">
      <label for="battery">Battery</label>
      <input
        type="text"
        class="form-control"
        id="battery"
        name="battery"
        #battery="ngModel"
        [class.invalid]="battery.invalid && battery.touched"
        placeholder="Enter battery"
        [ngModel]="product.battery"
        required
      />
    </div>

    <div class="form-group">
      <label for="memory">Memory</label>
      <input
        type="text"
        class="form-control"
        id="memory"
        name="memory"
        #memory="ngModel"
        [class.invalid]="memory.invalid && memory.touched"
        placeholder="Enter memory"
        [ngModel]="product.memory"
        required
      />
    </div>

    <div class="form-group">
      <label for="countInStock">Count In Stock</label>
      <input
        type="number"
        class="form-control"
        id="countInStock"
        name="countInStock"
        #countInStock="ngModel"
        [class.invalid]="countInStock.invalid && countInStock.touched"
        placeholder="Enter count"
        [ngModel]="product.countInStock"
        required
      />
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        name="quantity"
        #quantity="ngModel"
        [class.invalid]="quantity.invalid && quantity.touched"
        placeholder="Enter quantity"
        [ngModel]="product.quantity"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="4"
        #description="ngModel"
        [class.invalid]="description.invalid && description.touched"
        placeholder="Enter description"
        [ngModel]="product.description"
        required
      ></textarea>
    </div>

    <button [disabled]="editForm.form.invalid">Update</button>
  </form>
</div>
