<div class="product-review-container">
  <h2 class="text-center">Reviews</h2>
  <h4 class="text-info text-center mt-2" *ngIf="product?.reviews.length === 0">
    No reviews yet
  </h4>
  <app-loader [loading]="!product"></app-loader>
  <div *ngFor="let review of product?.reviews" class="review-wrapper">
    <div class="product-review-header bg-success text-white">
      <strong class="px-2">{{ review.name }}</strong>
      <button
        class="delete-btn"
        *ngIf="
          review.creator === authService.currentUser?._id ||
          authService.currentUser?.isAdmin
        "
        (click)="deleteReviewHandler(review._id)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
    <div class="px-2">
      <div class="d-flex align-items-center justify-content-between">
        <p class="comment">{{ review.comment }}</p>
        <span class="badge badge-dark align-self-end mb-1">{{
          review.createdAt | date
        }}</span>
      </div>
    </div>
  </div>
  <div>
    <app-loader [loading]="loading"></app-loader>
    <h5 class="message text-success text-center" *ngIf="successMessage">
      {{ successMessage }}
    </h5>
    <h5 class="message text-danger text-center" *ngIf="errorMessage">
      {{ errorMessage }}
    </h5>
  </div>
  <div class="mt-5" *ngIf="!productReviewed">
    <h3 class="text-center">Write a Customer Review</h3>
    <form
      #reviewForm="ngForm"
      (ngSubmit)="createReviewHandler(reviewForm.value)"
      *ngIf="authService.loggedIn()"
    >
      <div class="form-group">
        <label for="rating">Rating</label>
        <select
          name="rating"
          id="rating"
          class="form-control"
          #rating="ngModel"
          ngModel
          required
        >
          <option value="">Select...</option>
          <option value="1">1 - Poor</option>
          <option value="2">2 - Fair</option>
          <option value="3">3 - Good</option>
          <option value="4">4 - Very Good</option>
          <option value="5">5 - Excellent</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
          class="form-control"
          id="comment"
          name="comment"
          #comment="ngModel"
          placeholder="Enter comment..."
          ngModel
          required
        ></textarea>
      </div>
      <button
        class="review-btn"
        [disabled]="loading || reviewForm.form.invalid || reviewForm.submitted"
      >
        Submit
      </button>
    </form>
    <h5 class="mt-3" *ngIf="!authService.loggedIn()">
      Please <a routerLink="/auth/login">sign in</a> to write a review
    </h5>
  </div>
</div>
