.shipping-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
}

h2 {
  color: var(--primary-title-color);
}

form {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  margin-top: 1rem;
}

label {
  font-size: 1.2rem;
}

button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.3rem 0;
  margin-top: 1rem;
  border: none;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}

input.invalid {
  border-left: 5px solid red;
}

.row {
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .shipping-container {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .shipping-container {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
