.shipping-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
}

h2 {
  color: var(--primary-color);
}

form {
  background-color: var(--primary-box-shadow-container-color);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  margin-top: 1rem;
}

label {
  font-size: 1.2rem;
}

button {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.3rem 0;
  margin-top: 1rem;
  border: none;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid black;
}
