<div class="shipping-container">
  <app-checkout-steps [step1]="true" [step2]="true"></app-checkout-steps>
  <div class="row">
    <div class="col-md-8 col-xs-12 mx-auto">
      <h2>Shipping</h2>
      <form
        #shippingForm="ngForm"
        (ngSubmit)="shippingSubmit(shippingForm.value)"
      >
        <div class="form-group">
          <label for="address"
            ><i class="fa fa-address-book" aria-hidden="true"></i>
            Address</label
          >
          <input
            type="text"
            id="address"
            class="form-control"
            name="address"
            #address="ngModel"
            [class.invalid]="address.invalid && address.touched"
            [ngModel]="shippingAddress.address"
            placeholder="Enter address"
            required
          />
          <p class="text-danger m-1" *ngIf="address.invalid && address.touched">
            Address is required
          </p>
        </div>

        <div class="form-group">
          <label for="city"
            ><i class="fa fa-home" aria-hidden="true"></i> City</label
          >
          <input
            type="text"
            id="city"
            class="form-control"
            name="city"
            #city="ngModel"
            [class.invalid]="city.invalid && city.touched"
            [ngModel]="shippingAddress.city"
            placeholder="Enter city"
            required
          />
          <p class="text-danger m-1" *ngIf="city.invalid && city.touched">
            City is required
          </p>
        </div>

        <div class="form-group">
          <label for="postalCode"
            ><i class="fa fa-envelope-open" aria-hidden="true"></i> Postal
            Code</label
          >
          <input
            type="text"
            id="postalCode"
            class="form-control"
            name="postalCode"
            #postalCode="ngModel"
            [class.invalid]="postalCode.invalid && postalCode.touched"
            [ngModel]="shippingAddress.postalCode"
            placeholder="Enter postal code"
            required
          />
          <p
            class="text-danger m-1"
            *ngIf="postalCode.invalid && postalCode.touched"
          >
            Postal Code is required
          </p>
        </div>

        <div class="form-group">
          <label for="country"
            ><i class="fa fa-globe" aria-hidden="true"></i> Country</label
          >
          <input
            type="text"
            id="country"
            class="form-control"
            name="country"
            #country="ngModel"
            [class.invalid]="country.invalid && country.touched"
            [ngModel]="shippingAddress.country"
            placeholder="Enter country"
            required
          />
          <p class="text-danger m-1" *ngIf="country.invalid && country.touched">
            Country is required
          </p>
        </div>

        <button
          [disabled]="shippingForm.form.invalid && shippingForm.form.touched"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
