.product-card {
  border: 1px solid gray;
}

h5 {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

p {
  font-size: 0.9rem;
  color: #666;
  padding: 0 1rem;
}

.product-price {
  color: #222;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

a {
  color: #222;
}

img {
  width: 80%;
  height: 350px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .product-price {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .product-price {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
