.product-card {
  border: 1px solid gray;
}

h5 {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

p {
  font-size: 0.9rem;
  color: #666;
  padding: 0 1rem;
}

.product-price {
  color: #222;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

a {
  color: #222;
}

img {
  width: 80%;
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
